@import "./variables.less";
@import "./mixins.less";

// Reset Rule
* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
    box-sizing: border-box;
}

footer, header, main, nav, section {
    display: block;
}

// Global Styles
body {
    #global-style();

    h1 {
        display: none;
    }

    h2 {
        #header;
    }

    // uppercase text
    h2, button, .uppercase {
        text-transform: @text-uppercase;
    }

    span {
        color: @color-secondary;
    }
}


header nav {
    background-color: @color-primary;

    header nav ul li {
        list-style-type: none;
    }

    header nav ul li a {
        text-decoration: none;
    }

    .hero-image {
        #hero-image();
    }

}

.logo {
    max-width: 100%;
}

section {
    padding: 24px 0;

    // section p {
    //     padding-bottom: 20px;
    // }
}

.dine-in {
    #dine-in();
}

button {
    #yellow-button();
}


footer {
    background-color: @footer-background-black;
}
