// Color Palette
@color-primary: #F8DF1F;
@color-secondary: #EE252F;
@background-white: #F3F3F3;
@footer-background-black: #080801;
@text-black: #050500;
@banner-image-background: rgba(59,56,56,0.33);

// Roboto Font
@roboto-font: 'Roboto', sans-serif;

// Font Size and Weight (Headings)
@font-size-heading: 30px;

// Font Weight (Headings/Links)
@font-weight: 500;

// Font Size (Text)
@font-size-text: 16px;

//Font Size (Links)
@font-size-links: 18px;

// Text Transform
@text-uppercase: uppercase;
